<!DOCTYPE html>
<html>
  <head>
    <title>UMovie</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">UMovie</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/topRanked">Top Ranked</a></li>
	        <li><a href="/tagsMovie">Movie Tags</a></li> 
	      </ul>
	    </div>
	  </div>
	</nav>
    <div class="heading">
    	<% if (latestMovies == null) { %>
    		<form method="post" action="/homepageResponse">
    			<p>Welcome to the world of UMovie!</p>
    			<p>Latest top 5 movie.</p>
    			<button type="submit" class="btn btn-warning btn-lg">See Results</button>
    		</form>
    	<% }
    		else { %>
    			<p>Welcome to the world of UMovie!</p>
    			<p>Latest top 5 movie</p>
    			<% for (var i = 0; i< latestMovies.length; i++) { %>
    				<p><%= latestMovies[i].name %></p> 
    				<p><%= latestMovies[i].abstraction %></p> 
                    <p><%= latestMovies[i].date %></p> 
                    <p><%= latestMovies[i].poster %></p> 
                    <script type="text/javascript" src= "latestMovies[i].poster" alt= "Movie Poster"/></script>
    			<% } %>
    		<% } %>	
    </div>
  </body>
</html>
