<!DOCTYPE html>
<html>
  <head>
    <title>CIS 450/550 Homework3</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">CIS450/550</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	      	<li><a href="/">Home</a></li>
	        <li><a href="/sample">Sample Work</a></li>
	        <li class="active"><a href="/yourwork">Your Work</a></li> 
	        <li><a href="/references">References</a></li> 
	      </ul>
	    </div>
	  </div>
	</nav>
    <div class="heading">
    	<% if (results == null) { %>
        <form method="get" action= "/yourworkResponse">
        <p>Click the button below runs a query in MongoDB returns all those businesses which are open on 
        combining your selection of a particular hour of particular day</p><br>
        <p>Please choose make your choose from drop down box.</p>
        	<select name="dayPicker" class="btn-primary btn-lg">
                <option name="" value="">Select Day Of Week</option>
                <option name="monday" value="Monday">Monday</option>
                <option name="tuesday" value="Tuesday">Tuesday</option>
                <option name="wednesday" value="Wednesday">Wednesday</option>
                <option name="thursday" value="Thursday">Thursday</option>
                <option name="friday" value="Friday">Friday</option>
                <option name="saturday" value="Saturday">Saturday</option>
                <option name="sunday" value="Sunday">Sunday</option>
            </select>
            <select name="hourPicker" class="btn-info btn-lg">
                <option name="" value="">Select Hour Of Week</option>
                <option name="0:00-1:00" value="00:00-01:00">0:00-1:00</option>
                <option name="1:00-2:00" value="01:00-02:00">1:00-2:00</option>
                <option name="2:00-3:00" value="02:00-03:00">2:00-3:00</option>
                <option name="3:00-4:00" value="03:00-04:00">3:00-4:00</option>
                <option name="4:00-5:00" value="04:00-05:00">4:00-5:00</option>
                <option name="5:00-6:00" value="05:00-06:00">5:00-6:00</option>
                <option name="6:00-7:00" value="06:00-07:00">6:00-7:00</option>
                <option name="7:00-8:00" value="07:00-08:00">7:00-8:00</option>
                <option name="8:00-9:00" value="08:00-09:00">8:00-9:00</option>
                <option name="9:00-10:00" value="09:00-10:00">9:00-10:00</option>
                <option name="10:00-11:00" value="10:00-11:00">10:00-11:00</option>
                <option name="11:00-12:00" value="11:00-12:00">11:00-12:00</option>
                <option name="12:00-13:00" value="12:00-13:00">12:00-13:00</option>
                <option name="13:00-14:00" value="13:00-14:00">13:00-14:00</option>
                <option name="14:00-15:00" value="14:00-15:00">14:00-15:00</option>
                <option name="15:00-16:00" value="15:00-16:00">15:00-16:00</option>
                <option name="16:00-17:00" value="16:00-17:00">16:00-17:00</option>
                <option name="17:00-18:00" value="17:00-18:00">17:00-18:00</option>
                <option name="18:00-19:00" value="18:00-19:00">18:00-19:00</option>
                <option name="19:00-20:00" value="19:00-20:00">19:00-20:00</option>
                <option name="20:00-21:00" value="20:00-21:00">20:00-21:00</option>
                <option name="21:00-22:00" value="21:00-22:00">21:00-22:00</option>
                <option name="22:00-23:00" value="22:00-23:00">22:00-23:00</option>
                <option name="23:00-24:00" value="23:00-24:00">23:00-24:00</option>
            </select>
            <p>Clicking on the button below runs a query in the MongoDB part of this homework.</p><br>
			<button type="submit" class="btn btn-warning btn-lg">See Results</button>
		</form>
        <% }
        else { %>
        <% for(var i=0; i<results.length; i++) { %>
        <p><%= results[i] %></p>
        <% } %>
        <% } %>	
    </div>
  </body>
</html>
