body {
  background: url("http://static1.squarespace.com/static/55df9c60e4b085baa75c5a47/t/55eb75b7e4b033b11c0294e4/1441494456644/black-wallpaper-28.jpg?format=2500w");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.heading {
  text-align: center;
}

h1 {
  padding-top: 3cm;
  color: white;
  font-size: 500%;
}

p {
  padding-top: 2cm;
  color: white;
  font-size: 200%;
}
